In [3]:
import pandas as pd
import datetime
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randn(10000, 4))

df.iloc[:9998] = np.nan

sdf = df.to_sparse()

sdf

             0         1         2         3
0          NaN       NaN       NaN       NaN
1          NaN       NaN       NaN       NaN
2          NaN       NaN       NaN       NaN
3          NaN       NaN       NaN       NaN
4          NaN       NaN       NaN       NaN
5          NaN       NaN       NaN       NaN
6          NaN       NaN       NaN       NaN
7          NaN       NaN       NaN       NaN
8          NaN       NaN       NaN       NaN
9          NaN       NaN       NaN       NaN
10         NaN       NaN       NaN       NaN
11         NaN       NaN       NaN       NaN
12         NaN       NaN       NaN       NaN
13         NaN       NaN       NaN       NaN
14         NaN       NaN       NaN       NaN
15         NaN       NaN       NaN       NaN
16         NaN       NaN       NaN       NaN
17         NaN       NaN       NaN       NaN
18         NaN       NaN       NaN       NaN
19         NaN       NaN       NaN       NaN
20         NaN       NaN       NaN       NaN
21         NaN       NaN       NaN       NaN
22         NaN       NaN       NaN       NaN
23         NaN       NaN       NaN       NaN
24         NaN       NaN       NaN       NaN
25         NaN       NaN       NaN       NaN
26         NaN       NaN       NaN       NaN
27         NaN       NaN       NaN       NaN
28         NaN       NaN       NaN       NaN
29         NaN       NaN       NaN       NaN
...        ...       ...       ...       ...
9970       NaN       NaN       NaN       NaN
9971       NaN       NaN       NaN       NaN
9972       NaN       NaN       NaN       NaN
9973       NaN       NaN       NaN       NaN
9974       NaN       NaN       NaN       NaN
9975       NaN       NaN       NaN       NaN
9976       NaN       NaN       NaN       NaN
9977       NaN       NaN       NaN       NaN
9978       NaN       NaN       NaN       NaN
9979       NaN       NaN       NaN       NaN
9980       NaN       NaN       NaN       NaN
9981       NaN       NaN       NaN       NaN
9982       NaN       NaN       NaN       NaN
9983       NaN       NaN       NaN       NaN
9984       NaN       NaN       NaN       NaN
9985       NaN       NaN       NaN       NaN
9986       NaN       NaN       NaN       NaN
9987       NaN       NaN       NaN       NaN
9988       NaN       NaN       NaN       NaN
9989       NaN       NaN       NaN       NaN
9990       NaN       NaN       NaN       NaN
9991       NaN       NaN       NaN       NaN
9992       NaN       NaN       NaN       NaN
9993       NaN       NaN       NaN       NaN
9994       NaN       NaN       NaN       NaN
9995       NaN       NaN       NaN       NaN
9996       NaN       NaN       NaN       NaN
9997       NaN       NaN       NaN       NaN
9998  0.823176 -0.499369  0.585331 -0.152423
9999  0.502415 -0.327497 -1.251314  0.326544

[10000 rows x 4 columns]

In [7]:
print(type(sdf.to_coo()))

<class 'scipy.sparse.coo.coo_matrix'>

In [9]:
print(sdf.to_coo())

  (9998, 0)	0.8231755304196788
  (9999, 0)	0.5024145699064199
  (9998, 1)	-0.49936941367711474
  (9999, 1)	-0.32749675777915416
  (9998, 2)	0.585331084616977
  (9999, 2)	-1.2513143859386002
  (9998, 3)	-0.15242287334759694
  (9999, 3)	0.3265436397697947